# environment variables
environment.sh

# static files
pyoseo/static/**

# local sqlite databases
pyoseo/db.sqlite3

*.pyc

*.un~
*.swp
*.autosave
.idea/*

docs/_build/*
.cache/**
.coverage
pyoseo/pyoseo.egg-info/**
pytestdebug.log
