#PyXB==1.2.3
#ipython==1.1.0
#lxml==3.2.3
#requests==2.0.0
#celery==3.1.9
#librabbitmq
#--editable git+https://ricardogsilva@bitbucket.org/ipmagio/giosystem-core.git#egg=giosystemcore
##--editable git+https://ricardogsilva@bitbucket.org/ipmagio/giosystem-csw.git#egg=giosystemcsw

Django==1.9.6
django-grappelli==2.8.1
django-mail-queue==2.2.2
django-sendfile==0.3.10
gunicorn==19.6.0
pathlib2==2.1.0
